@import "pinguino/functions";
@import "pinguino/variables";

body {
  background-color: $primary-color;
  color: $secondary-color;
  font: "Verdana", "Helvetica", sans-serif;
  font-size: $font--base-size;
  width: 80%;
  margin: auto;
}

h2 {
  color: $color-tertiary;
 }

 @for $i from 1 through 6 {
    @debug $i;
    h#{$i} {
      font-size: $font--max-size - (.25em * $i);
      line-height: $font--header-line-height;
    }
 }


//$pinguino-color: #cf39ea;
//$complement-color: adjust_hue($pinguino-color, 180);

//a:link    { $complement-color}

//a: {
//  color: $color--secondary;

  //&:hover {
  //color: mix($color--black, $color--secondary, 30%);
//  }

//}

figure {
  float: right;
}

img {
 width: 80%;
  height: 80%;
  padding:1px;
  border:1px solid $secondary-color;
}


